{% extends "base.html" %}
{% load static %}
{% block content %}



  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
    {% for about in abouts %}
    
   
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                {{about.title}}
              </h2>
            </div>
            <p>
              {{about.body}}
            </p>
            <a href={{about.url}}>
              {{about.button_label}}
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src={{about.image.url}} alt="">
          </div>
        </div>
      </div>

    {% endfor %}
    </div>
  </section>
  <!-- end about section -->



{% endblock content %}