{% extends "base.html" %}
{% load static %}
 {% block content %}


  </div>

  <div class="body_bg layout_padding">

    <!-- service section -->

        <section class="service_section ">
      <div class="container">
        <div class="heading_container">
          <h2>
            At Your Service
          </h2>
        </div>
      </div>
      <div class="container">

      {% for ser in services %}
      <div class="row">
        {% for it in ser %}
        
          <div class="col-md-6">
            <div class="box">
              <div class="img-box">
                <img src={{it.icon.url}} alt="" width="50px">
              </div>
              <h4>
                {{it.title}}
              </h4>
              <p>
                {{it.desc}}
              </p>
              <a href={% url 'detail' it.id %}>
                Read More
              </a>
            </div>
          </div>  
         
        {% endfor %}
        </div>
      {% endfor %}

        
          
        
        
      </div>
    </section>

    <!-- end service section -->

  </div>
 

{% endblock content %}